
# APIのルート
nablarch.webApi.applicationPath=/api

# プロジェクトのベースパッケージ
nablarch.commonProperty.basePackage=jp.fintan.mobile.santokuapp

# 業務日付のデフォルト区分
nablarch.businessDateProvider.defaultSegment=01

# トランザクションタイムアウト時間（秒）
nablarch.transactionFactory.transactionTimeoutSec=15

# データベースへの値自動設定機能で設定する現在日付のデフォルトフォーマット
nablarch.currentDateTimeAnnotationHandler.dateFormat=yyyyMMdd

# ステートメントのフェッチサイズ
nablarch.statementFactory.fetchSize=50

# JDBCドライバがステートメントの実行を待つ秒数
nablarch.statementFactory.queryTimeout=600

# トランザクション分離レベル
nablarch.transactionFactory.isolationLevel=READ_COMMITTED

# SQLファイルのエンコーディング
nablarch.sqlLoader.fileEncoding=utf-8

# ファイルアップロード用に追加
# アップロード時に許容するContent-Lengthの最大値（バイト数）
nablarch.uploadSettings.contentLengthLimit=1000000
