<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>012345678901-sidw5laqvzk01kzyoudm1ng80cqceo1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.012345678901-sidw5laqvzk01kzyoudm1ng80cqceo1m</string>
	<key>API_KEY</key>
	<string>A-dummy-api-key-PdQdaLEG3fDRST6hgjc9TNP</string>
	<key>GCM_SENDER_ID</key>
	<string>012345678901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.fintan.mobile.SantokuApp.dev.debug</string>
	<key>PROJECT_ID</key>
	<string>santoku-app-dummy</string>
	<key>STORAGE_BUCKET</key>
	<string>jp.fintan.mobile.SantokuApp.dummy</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<false></false>
	<key>IS_SIGNIN_ENABLED</key>
	<false></false>
	<key>GOOGLE_APP_ID</key>
	<string>1:012345678901:ios:f6d5ab1bab0d22da6933ef</string>
</dict>
</plist>
