@charset "UTF-8";
/*
 * common-ie10.css
 *
 *     ※このCSSファイルに定義されたクラス群は、一例として定義したものです。
 *       プロジェクトで自由に書き換えるか、不要な場合は削除してかまいません。
 */

/*
 * IEでのボーダーの幅を調整。
 */
tr,th,td {
	border: 0.5px solid #FFFFFF;
}

/* disabled表示時のテキストの色を変更 */
.input-button[disabled],
.input-text[disabled],
.input-color[disabled],
.input-datetime[disabled],
.input-datetime-local[disabled],
.input-date[disabled],
.input-month[disabled],
.input-week[disabled],
.input-time[disabled],
.input-tel[disabled],
.input-url[disabled],
.input-email[disabled],
.input-search[disabled],
.input-number[disabled],
.input-textarea[disabled]
 {
    color: #999;
}

.input-file {
	color: #000000;
	background-color: transparent;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 2px;
}

.input-file:focus {
	color: #000000;
	background-color: transparent;
}

/* --------- -ms-value: ファイル入力欄のテキスト表示部 --------- */
.input-file::-ms-value {
	color: #000000;
	background-color: #FFFFDD;
	border-style: outset;
	border-width: 1px;
}

.input-file:focus::-ms-value {
	background-color: #FFEECC;
}

.input-file[disabled]::-ms-value{
    color: #999;
}

input[type=file].input-error::-ms-value {
	color: #FFFFFF;
	background-color: #FF0000;
}

input[type=file].input-error:focus::-ms-value {
	color: #000000;
	background-color: #FFEECC;
}

input[type=file][disabled].input-error::-ms-value {
    color: #999;
}

/* --------- -ms-browse: ファイル入力欄のボタン表示部 --------- */
.input-file::-ms-browse {
	border-style: outset;
	border-width: 1px;
}
.input-file[disabled]::-ms-browse {
    border-color: #999;
}
