@CHARSET "UTF-8";

/* -------------------- スライドメニュー -------------------- */
#slide_panel {
    position: absolute;
    top: 110px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 270px;
    height: hidden;
    overflow: hidden;
    visibility : hidden;
    cursor: pointer;
    z-index:1;
}
#slide_panel .wrap {
    width: 270px;
    overflow: hidden;
}
#slide_panel .wrap .panel_main {
    margin-left: 20px;
    background-color: #EEF;
}
div.menu_off {
    background-image: url('../images/sidemenu_btn.jpg');
    background-repeat: no-repeat;
    background-position: -20px 0px;
}
div.active {
    background-position: 0px 0px;
}

/* -------------------- オリジナルのツリービュー定義 -------------------- */
.treeview-custom ul {
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.treeview-custom li {
    list-style: none;
    display: block;
    background: none;
    margin: 5px 4px 0px 4px;
}
.treeview-custom li a {
    display: block;
    margin: 0px;
    padding: 8px 3px 8px 3px;
    color: #33B;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #555;
    border-left: 2px solid #888;
    border-right: 1px solid #EEE;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.treeview-custom li a:hover {
    color: #D22;
    background-color: #FDD;
}
.treeview-custom .hitarea,
.treeview-custom li.lastCollapsable,
.treeview-custom li.lastExpandable {
    background: none;
}
.disabledItem {
    color: #DDD;
}