
# dependencies
node_modules/

# Bundler
/.bundle/vendor

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Jest
jest-junit.xml
/coverage

# Local environmental variables
PersonalAccount.xcconfig

# Firebase
GoogleService-Info.plist
google-services.json

# generated
/generated

# Prebuild
/android/
/ios/

## Fastlane
# fastlane specific
**/fastlane/report.xml
# deliver temporary files
**/fastlane/Preview.html
# snapshot generated screenshots
**/fastlane/screenshots
# scan temporary files
**/fastlane/test_output

src/assets/licenses
