<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="jp.fintan.mobile.santokuapp">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:name=".MainApplication"
    android:label="@string/APP_NAME_HOME"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="false"
    android:theme="@style/AppTheme"
  >
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="false"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATE_URL" android:value="YOUR-APP-URL-HERE"/>
    <meta-data android:name="expo.modules.updates.EXPO_SDK_VERSION" android:value="YOUR-APP-SDK-VERSION-HERE"/>
    <activity
      android:name=".MainActivity"
      android:theme="@style/Theme.App.SplashScreen"
    >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".AppActivity"
        android:label="@string/APP_NAME_HOME"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode|screenLayout|smallestScreenSize"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"/>
  </application>
</manifest>
