<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="jp.fintan.mobile.santokuapp">

  <uses-permission android:name="android.permission.INTERNET"/>

  <queries>
    <!--
      Support checking for http(s) links via the Linking API
      https://developer.android.com/training/package-visibility/use-cases#check-browser-available
    -->
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
  </queries>

  <application
    android:name=".MainApplication"
    android:label="@string/APP_NAME_HOME"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="false"
    android:theme="@style/AppTheme"
  >
    <activity
      android:name=".MainActivity"
      android:theme="@style/Theme.App.SplashScreen"
    >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".AppActivity"
        android:label="@string/APP_NAME_HOME"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode|screenLayout|smallestScreenSize"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"/>
  </application>
</manifest>
