//
//  PersonalAccount.xcconfig
//  SantokuApp
//
//  Created by Ryo Tanaka on 2020/08/22.
//  Copyright © 2020 Facebook. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CODE_SIGN_STYLE=
PERSONAL_IDENTIFIER=
DEVELOPMENT_TEAM=
